<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{page_desc}}</p>
        <img class="portrait" src="/img/my_pic.jpg">
    </div>
    {{>footer}}
</body>
</html>